In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from import_clean_data import load_annotated_meter_data, load_co2_data
import warnings

In [2]:
DATA_DIR = (Path.cwd() / ".." / "Data").resolve()

In [3]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    meter = load_annotated_meter_data(DATA_DIR)

In [4]:
meter

,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp,co2_intensity,co2_total,unique_charge_point
0,1057264,1,1,2188,155260,920,2021-01-01 00:15:00,162.516673,0.037379,1|1
1,978733,2,1,2190,2213880,0,2021-01-01 00:15:00,162.516673,0.000000,2|1
2,978738,3,1,2195,3081670,0,2021-01-01 00:15:00,162.516673,0.000000,3|1
3,978742,4,1,2194,1463670,0,2021-01-01 00:15:00,162.516673,0.000000,4|1
4,978746,5,1,1923,1836900,0,2021-01-01 00:15:00,162.516673,0.000000,5|1
...,...,...,...,...,...,...,...,...,...,...
315492,978722,25,1,2201,478370,0,2021-01-01 00:00:00,161.151006,0.000000,25|1
315493,978724,26,1,1965,252472,0,2021-01-01 00:00:00,161.151006,0.000000,26|1
315494,978728,28,1,2199,332544,1173,2021-01-01 00:00:00,161.151006,0.047258,28|1
315495,982914,29,1,2197,805520,0,2021-01-01 00:00:00,161.151006,0.000000,29|1
315496,1057266,1,1,2188,154340,920,2021-01-01 00:00:00,161.151006,0.037065,1|1

In [5]:
meter.dtypes

id                              int64
Chargepoint                    object
connector                      object
charge_log_id                  object
metervalue                      int64
increment                       int64
timestamp              datetime64[ns]
co2_intensity                 float64
co2_total                     float64
unique_charge_point            object
dtype: object

In [6]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    co2 = load_co2_data(DATA_DIR)

In [7]:
co2

,datetime,co2_intensity,co2_production,co2_import,nuclear,geothermal,biomass,coal,wind,solar,hydro,gas,oil,unknown,battery,hydro
0,2020-01-01 00:00:00+00:00,115.53,42.25,239.46,3321.21,0.14,235.03,442.94,445.71,0.00,1034.33,293.46,18.54,1038.76,0.0,181.97
1,2020-01-01 01:00:00+00:00,113.57,46.79,255.94,3224.89,0.14,224.68,432.04,437.79,0.00,1046.74,245.34,17.31,1323.84,0.0,181.31
2,2020-01-01 02:00:00+00:00,113.70,30.13,235.80,3671.14,3.17,252.13,471.63,472.28,0.01,1107.86,306.60,20.47,586.79,0.0,81.00
3,2020-01-01 03:00:00+00:00,110.52,48.75,231.63,3638.54,9.61,206.78,376.36,365.74,0.02,1036.09,323.40,17.47,1510.04,0.0,97.00
4,2020-01-01 04:00:00+00:00,111.10,41.83,240.52,3571.64,5.70,222.40,411.97,397.42,0.02,1041.85,290.49,18.23,1123.35,0.0,97.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,2021-06-30 19:00:00+00:00,74.55,71.97,NaN,918.46,0.00,0.00,0.00,0.00,0.00,1812.00,0.00,0.00,2405.48,0.0,1064.06
13124,2021-06-30 20:00:00+00:00,78.65,77.04,NaN,943.88,0.00,0.00,0.00,0.00,0.00,1715.01,0.00,0.00,2823.69,0.0,1052.42
13125,2021-06-30 21:00:00+00:00,103.10,71.17,348.64,1061.13,0.22,52.81,184.39,128.09,0.00,1456.45,83.60,4.48,2066.78,0.0,692.06
13126,2021-06-30 22:00:00+00:00,120.71,82.12,342.61,1215.24,0.34,76.70,251.02,193.26,0.01,967.38,95.31,6.64,2635.87,0.0,198.25
13127,2021-06-30 23:00:00+00:00,120.51,83.40,287.08,1267.46,0.36,84.33,257.64,226.13,0.01,900.87,77.95,7.24,2564.85,0.0,117.16

In [8]:
co2.dtypes

datetime          datetime64[ns, UTC]
co2_intensity                 float64
co2_production                float64
co2_import                    float64
nuclear                       float64
geothermal                    float64
biomass                       float64
coal                          float64
wind                          float64
solar                         float64
hydro                         float64
gas                           float64
oil                           float64
unknown                       float64
battery                       float64
hydro                         float64
dtype: object

In [11]:
charging_df = pd.read_csv(DATA_DIR / 'seperated_meter_data.csv')
charging_df

,Unnamed: 0,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp,unique_charge_point,n_timestamp
0,696714,80169,171.0,178d3d4a-065b-4c88-9e1e-a10270de3f44,e978caff-2a56-46c0-acd0-b09b54a8ff82,345800,0,01.01.2020 00:15,171.0178d3d4a-065b-4c88-9e1e-a10270de3f44,1.577834e+09
1,696715,78227,172.0,25fde958-fc63-4d7a-a773-6023f2a58291,5236702e-a0cd-472f-987a-63418ba711dc,1438400,0,01.01.2020 00:15,172.025fde958-fc63-4d7a-a773-6023f2a58291,1.577834e+09
2,696718,4333,174.0,3e77b1c0-8a23-4624-993e-77a914198cd7,24aaf8b7-f58c-453e-a948-bc6f7829c9e2,2551993,0,01.01.2020 00:15,174.03e77b1c0-8a23-4624-993e-77a914198cd7,1.577834e+09
3,696719,55377,175.0,24d53420-ba27-45c5-a585-c74243a50baa,df3ff415-56fb-40ab-b0ee-270a8415ad3a,254570,0,01.01.2020 00:15,175.024d53420-ba27-45c5-a585-c74243a50baa,1.577834e+09
4,696720,50501,176.0,2b0f6664-e791-4ea8-945f-b2b88666568e,cae33978-53ce-4f36-a6a5-c73540bb74da,742970,2740,01.01.2020 00:15,176.02b0f6664-e791-4ea8-945f-b2b88666568e,1.577834e+09
...,...,...,...,...,...,...,...,...,...,...
728313,696679,2098656,15.0,1,14980,8884700,2800,01.08.2021 00:00,15.01,1.627769e+09
728314,696683,2098680,1.0,1,14290,2744170,0,01.08.2021 00:00,1.01,1.627769e+09
728315,696687,2098704,40.0,1,14957,605998,0,01.08.2021 00:00,40.01,1.627769e+09
728316,696688,2098710,81.0,1,14981,1686113,1751,01.08.2021 00:00,81.01,1.627769e+09
728317,696690,2098722,35.0,1,14694,1939850,0,01.08.2021 00:00,35.01,1.627769e+09

In [16]:
charges_stat = pd.DataFrame(set(charging_df['charge_log_id']), columns=['charge_log_id'])
charges_stat

                              charge_log_id
0      458acb18-22e9-4c2d-8394-e305df27e9f4
1      b95c1056-146b-44bf-b721-1bd7e47b9483
2      5b5312a3-362d-468f-acb0-eff3cf4f47fb
3      e18d4e60-6ce4-473b-8bdc-302284bb8ce3
4      64cd1c4d-d9bd-4c5e-bb26-f6a17e6ca596
...                                     ...
13073  bf163096-55fb-4793-bcc6-b0f0d85c5229
13074  07cd1008-f7d7-4c0d-ac40-036dea00c1ea
13075  987d8f2e-2502-4c4a-82f1-c34b9eae8bd3
13076                                   551
13077  e16946ff-5df3-4d44-be6a-8f9b4fdcf253

[13078 rows x 1 columns]

In [22]:
start_time = []
end_time = []
total_energy = []
max_energy = []
for i in charges_stat['charge_log_id']:
    filtered = charging_df.loc[charging_df['charge_log_id'] == i]
    start_time.append(filtered['n_timestamp'].min())
    end_time.append(filtered['n_timestamp'].max())
    total_energy.append(filtered['increment'].sum())
    max_energy.append(filtered['increment'].max())

charges_stat['start_time'] = start_time
charges_stat['end_time'] = end_time
charges_stat['window'] = charges_stat.apply(lambda t: (t['end_time'] - t['start_time'])/3600, axis=1)
charges_stat['total_energy'] = total_energy
charges_stat['max_energy'] = max_energy

KeyboardInterrupt:

In [21]:
charges_stat['start_time'] = charges_stat.groupby()
charges_stat['end_time'] = end_time
charges_stat['window'] = charges_stat.apply(lambda t: (t['end_time'] - t['start_time'])/3600, axis=1)
charges_stat['total_energy'] = total_energy
charges_stat['max_energy'] = max_energy

[0.25,
 16.25,
 16.0,
 14.0,
 10.5,
 95.25,
 0.25,
 0.25,
 0.25,
 0.25,
 121.75,
 0.25,
 12.25,
 17.25,
 28.25,
 24.75,
 0.25,
 97.0,
 16.0,
 4.0,
 0.25,
 11.75,
 13.5,
 16.0,
 34.75,
 145.25,
 11.5,
 0.25,
 145.75,
 0.25,
 0.25,
 0.25,
 4.0,
 23.75,
 0.25,
 0.25,
 11.75,
 4.0,
 19.25,
 0.25,
 18.75,
 22.5,
 3.5,
 3.5,
 0.5,
 47.25,
 10.75,
 68.75,
 0.25,
 10.5,
 0.25,
 5.0,
 25.5,
 1.5,
 0.25,
 0.25,
 14.0,
 0.25,
 1.5,
 0.5,
 0.25,
 0.25,
 9.25,
 15.5,
 0.25,
 22.75,
 0.25,
 1.0,
 22.75,
 0.25,
 11.25,
 0.25,
 0.25,
 23.25,
 0.5,
 0.25,
 0.25,
 8.5,
 49.25,
 0.25,
 12.0,
 20.0,
 0.25,
 0.25,
 0.25,
 13.0,
 0.25,
 46.75,
 0.25,
 8.5,
 0.25,
 15.75,
 18.0,
 0.25,
 0.5,
 0.5,
 43.0,
 0.25,
 10.25,
 0.25]

In [63]:
grouped = charging_df.groupby('charge_log_id')
charges_stats = pd.DataFrame(grouped['n_timestamp'].min()).rename(columns={'n_timestamp' : 'start_time'})
charges_stats['end_time'] = grouped['n_timestamp'].max()
charges_stats['total_energy'] = grouped['increment'].sum()
charges_stats['max_energy'] = grouped['increment'].max()
charges_stats['mean_energy'] = grouped['increment'].max()
charges_stats['median_energy'] = grouped['increment'].max()
charges_stats['charge_time'] = charges_stats.apply(lambda t: (t['end_time'] - t['start_time'])/3600, axis=1)

In [64]:
charges_stats

,start_time,end_time,total_energy,max_energy,charge_time
charge_log_id,,,,,
885,1.607079e+09,1.607105e+09,50,10,7.25
963,1.607080e+09,1.607182e+09,30,10,28.50
975,1.607079e+09,1.607090e+09,20,10,3.25
978,1.607079e+09,1.607098e+09,0,0,5.50
981,1.607079e+09,1.607080e+09,0,0,0.25
...,...,...,...,...,...
ff9ff3ff-9044-4d07-af32-01ba1f7c30f9,1.597432e+09,1.597838e+09,16590,860,112.50
ffa52837-2a09-44ca-95c0-d048d3cdb938,1.583443e+09,1.583445e+09,2360,2350,0.50
ffc33f55-09c4-49ad-921a-cfe80e68fbf7,1.583471e+09,1.583472e+09,0,0,0.25
fff61637-9f59-487e-ad66-3985ab4445a1,1.599496e+09,1.599534e+09,8870,880,10.50
fff96103-4a49-4720-ba7a-aa2cad99bca5,1.594303e+09,1.594323e+09,10690,2780,5.50