In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from import_clean_data import load_annotated_meter_data
import warnings

In [2]:
DATA_DIR = (Path.cwd() / ".." / "Data").resolve()

In [3]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    meter = load_annotated_meter_data(DATA_DIR)

In [4]:
meter

,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp,co2_intensity,co2_total
0,1057264,1,1,2188,155260,920,2021-01-01 00:15:00,163.543346,150.459878
1,978733,2,1,2190,2213880,0,2021-01-01 00:15:00,163.543346,0.000000
2,978738,3,1,2195,3081670,0,2021-01-01 00:15:00,163.543346,0.000000
3,978742,4,1,2194,1463670,0,2021-01-01 00:15:00,163.543346,0.000000
4,978746,5,1,1923,1836900,0,2021-01-01 00:15:00,163.543346,0.000000
...,...,...,...,...,...,...,...,...,...
315492,978722,25,1,2201,478370,0,2021-01-01 00:00:00,161.490000,0.000000
315493,978724,26,1,1965,252472,0,2021-01-01 00:00:00,161.490000,0.000000
315494,978728,28,1,2199,332544,1173,2021-01-01 00:00:00,161.490000,189.427770
315495,982914,29,1,2197,805520,0,2021-01-01 00:00:00,161.490000,0.000000
315496,1057266,1,1,2188,154340,920,2021-01-01 00:00:00,161.490000,148.570800

In [6]:
meter.dtypes

id                              int64
Chargepoint                    object
connector                      object
charge_log_id                  object
metervalue                      int64
increment                       int64
timestamp              datetime64[ns]
co2_intensity                 float64
co2_total                     float64
unique_charge_point            object
dtype: object