In [4]:
from pathlib import Path
import pandas as pd
import numpy as np
from import_clean_data import load_annotated_meter_data, load_co2_data
import warnings

In [2]:
DATA_DIR = (Path.cwd() / ".." / "Data").resolve()

In [3]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    meter = load_annotated_meter_data(DATA_DIR)

In [4]:
meter

,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp,co2_intensity,co2_total
0,1057264,1,1,2188,155260,920,2021-01-01 00:15:00,163.543346,150.459878
1,978733,2,1,2190,2213880,0,2021-01-01 00:15:00,163.543346,0.000000
2,978738,3,1,2195,3081670,0,2021-01-01 00:15:00,163.543346,0.000000
3,978742,4,1,2194,1463670,0,2021-01-01 00:15:00,163.543346,0.000000
4,978746,5,1,1923,1836900,0,2021-01-01 00:15:00,163.543346,0.000000
...,...,...,...,...,...,...,...,...,...
315492,978722,25,1,2201,478370,0,2021-01-01 00:00:00,161.490000,0.000000
315493,978724,26,1,1965,252472,0,2021-01-01 00:00:00,161.490000,0.000000
315494,978728,28,1,2199,332544,1173,2021-01-01 00:00:00,161.490000,189.427770
315495,982914,29,1,2197,805520,0,2021-01-01 00:00:00,161.490000,0.000000
315496,1057266,1,1,2188,154340,920,2021-01-01 00:00:00,161.490000,148.570800

In [6]:
meter.dtypes

id                              int64
Chargepoint                    object
connector                      object
charge_log_id                  object
metervalue                      int64
increment                       int64
timestamp              datetime64[ns]
co2_intensity                 float64
co2_total                     float64
unique_charge_point            object
dtype: object

In [5]:
with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    co2 = load_co2_data(DATA_DIR)

In [6]:
co2

,datetime,co2_intensity,co2_production,co2_import,nuclear,geothermal,biomass,coal,wind,solar,hydro,gas,oil,unknown,battery,hydro
0,2020-01-01 00:00:00+00:00,115.53,42.25,239.46,3321.21,0.14,235.03,442.94,445.71,0.00,1034.33,293.46,18.54,1038.76,0.0,181.97
1,2020-01-01 01:00:00+00:00,113.57,46.79,255.94,3224.89,0.14,224.68,432.04,437.79,0.00,1046.74,245.34,17.31,1323.84,0.0,181.31
2,2020-01-01 02:00:00+00:00,113.70,30.13,235.80,3671.14,3.17,252.13,471.63,472.28,0.01,1107.86,306.60,20.47,586.79,0.0,81.00
3,2020-01-01 03:00:00+00:00,110.52,48.75,231.63,3638.54,9.61,206.78,376.36,365.74,0.02,1036.09,323.40,17.47,1510.04,0.0,97.00
4,2020-01-01 04:00:00+00:00,111.10,41.83,240.52,3571.64,5.70,222.40,411.97,397.42,0.02,1041.85,290.49,18.23,1123.35,0.0,97.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,2021-06-30 19:00:00+00:00,74.55,71.97,NaN,918.46,0.00,0.00,0.00,0.00,0.00,1812.00,0.00,0.00,2405.48,0.0,1064.06
13124,2021-06-30 20:00:00+00:00,78.65,77.04,NaN,943.88,0.00,0.00,0.00,0.00,0.00,1715.01,0.00,0.00,2823.69,0.0,1052.42
13125,2021-06-30 21:00:00+00:00,103.10,71.17,348.64,1061.13,0.22,52.81,184.39,128.09,0.00,1456.45,83.60,4.48,2066.78,0.0,692.06
13126,2021-06-30 22:00:00+00:00,120.71,82.12,342.61,1215.24,0.34,76.70,251.02,193.26,0.01,967.38,95.31,6.64,2635.87,0.0,198.25
13127,2021-06-30 23:00:00+00:00,120.51,83.40,287.08,1267.46,0.36,84.33,257.64,226.13,0.01,900.87,77.95,7.24,2564.85,0.0,117.16

In [7]:
co2.dtypes

datetime          datetime64[ns, UTC]
co2_intensity                 float64
co2_production                float64
co2_import                    float64
nuclear                       float64
geothermal                    float64
biomass                       float64
coal                          float64
wind                          float64
solar                         float64
hydro                         float64
gas                           float64
oil                           float64
unknown                       float64
battery                       float64
hydro                         float64
dtype: object