In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from import_clean_data import load_annotated_meter_data

In [2]:
DATA_DIR = (Path.cwd() / ".." / "Data").resolve()

In [3]:
meter = load_annotated_meter_data(DATA_DIR)

/Users/cmutel/miniconda3/envs/bw2dev38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (0,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/cmutel/miniconda3/envs/bw2dev38/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/cmutel/Code/green_charging_emobility/Notebooks/import_clean_data.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  meter_2["Chargepoint"][mask] = 42

In [4]:
meter

,id,Chargepoint,connector,charge_log_id,metervalue,increment,timestamp,co2_intensity,co2_total
0,1057264,1,1,2188,155260,920,2021-01-01 00:15:00,163.543346,150.459878
1,978733,2,1,2190,2213880,0,2021-01-01 00:15:00,163.543346,0.000000
2,978738,3,1,2195,3081670,0,2021-01-01 00:15:00,163.543346,0.000000
3,978742,4,1,2194,1463670,0,2021-01-01 00:15:00,163.543346,0.000000
4,978746,5,1,1923,1836900,0,2021-01-01 00:15:00,163.543346,0.000000
...,...,...,...,...,...,...,...,...,...
315492,978722,25,1,2201,478370,0,2021-01-01 00:00:00,161.490000,0.000000
315493,978724,26,1,1965,252472,0,2021-01-01 00:00:00,161.490000,0.000000
315494,978728,28,1,2199,332544,1173,2021-01-01 00:00:00,161.490000,189.427770
315495,982914,29,1,2197,805520,0,2021-01-01 00:00:00,161.490000,0.000000
315496,1057266,1,1,2188,154340,920,2021-01-01 00:00:00,161.490000,148.570800

TODO!!!

In [ ]:
# replace NaN Chargpoints with unique number based on UUID of the connector
nans = mvs[mvs['Chargepoint'].isna()]
nan_cp_connectors = nans['connector'].unique()[1:]
newid = 10000
for connector in nan_cp_connectors:
    mvs.loc[mvs["connector"] == connector, ["Chargepoint"]] = newid
    newid += 1